In [10]:
import pandas as pd

In [32]:
df = pd.read_csv("../data/NYC Evictions_rawdata.csv")
df

,Court Index Number,Docket Number,Eviction Address,Eviction Apartment Number,Executed Date,Marshal First Name,Marshal Last Name,Residential/Commercial,BOROUGH,Eviction Postcode,Ejectment,Eviction/Legal Possession,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA
0,52594/17-1,202352,1365 ST NICHOLAS AVE,26M,01/23/2018,Richard,Capuano,Residential,MANHATTAN,10033,Not an Ejectment,Possession,40.847780,-73.934871,12.0,10.0,263.0,1079920.0,1.021620e+09,Washington Heights South
1,54721/18,7768,960 HANCOCK STREET - APT 3-R,3-R,04/17/2018,Robert,Renzulli,Residential,BROOKLYN,11233,Not an Ejectment,Possession,40.686331,-73.917018,16.0,41.0,373.0,3039984.0,3.014920e+09,Ocean Hill
2,310882/24,138852,11 DOYERS STREET,UNIT/APT. BASEMENT,11/07/2024,Justin,Grossman,Commercial,MANHATTAN,10013,Not an Ejectment,Possession,40.714503,-73.998128,3.0,1.0,29.0,1001701.0,1.001620e+09,Chinatown
3,303041/24,22053,66-08 AUSTIN STREET APT. 1D,1D,07/09/2025,Robert,Renzulli,Residential,QUEENS,11374,Not an Ejectment,Possession,40.724837,-73.857600,6.0,29.0,71306.0,4074626.0,4.031550e+09,Forest Hills
4,67320/17,294621,711C SEAGIRT AVE,4E,11/20/2017,George,Essock,Residential,QUEENS,11691,Not an Ejectment,Possession,40.595996,-73.742187,14.0,31.0,101002.0,4298968.0,4.156100e+09,Far Rockaway-Bayswater
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118129,72347/16B,472923,211 BEDFORD PARK BLV D,5D,11/15/2017,Danny,Weinheim,Residential,BRONX,10458,Not an Ejectment,Possession,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
118130,N250867/18,395537,1990 LEXINGOTN AVE,10D,08/06/2018,Richard,McCoy,Residential,MANHATTAN,10035,Not an Ejectment,Possession,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
118131,96426/17,24257,1854 OCEAN AVENUE,10B,03/21/2018,Gary,Rose,Residential,BROOKLYN,11230,Not an Ejectment,Possession,40.616648,-73.954695,14.0,48.0,538.0,3181129.0,3.067480e+09,Midwood
118132,64520/17,15022,79-11 41ST AVENUE,A204,03/02/2018,Edward,Guida,Residential,QUEENS,11373,Not an Ejectment,Possession,40.745728,-73.886210,4.0,25.0,267.0,4036837.0,4.014900e+09,Elmhurst
118133,Q077560/18,401245,175-21 88TH AVENUE,2S,02/21/2019,Richard,McCoy,Residential,QUEENS,11432,Not an Ejectment,Possession,40.711094,-73.787032,12.0,27.0,462.0,4210397.0,4.098340e+09,Jamaica

In [42]:
clean_df = df[["BOROUGH", "Eviction Postcode", "Executed Date"]]

In [54]:
year = clean_df["Executed Date"].dt.year
clean_df = pd.concat([clean_df, year.rename("year")], axis=1)

In [56]:
print(clean_df.head())

     BOROUGH  Eviction Postcode Executed Date  year
0  MANHATTAN              10033    2018-01-23  2018
1   BROOKLYN              11233    2018-04-17  2018
2  MANHATTAN              10013    2024-11-07  2024
3     QUEENS              11374    2025-07-09  2025
4     QUEENS              11691    2017-11-20  2017

In [58]:
clean_df = clean_df.drop(columns=["Executed Date"])

print(clean_df.head())

     BOROUGH  Eviction Postcode  year
0  MANHATTAN              10033  2018
1   BROOKLYN              11233  2018
2  MANHATTAN              10013  2024
3     QUEENS              11374  2025
4     QUEENS              11691  2017

In [68]:
clean_df

          BOROUGH  Eviction Postcode  year
0       MANHATTAN              10033  2018
1        BROOKLYN              11233  2018
2       MANHATTAN              10013  2024
3          QUEENS              11374  2025
4          QUEENS              11691  2017
...           ...                ...   ...
118129      BRONX              10458  2017
118130  MANHATTAN              10035  2018
118131   BROOKLYN              11230  2018
118132     QUEENS              11373  2018
118133     QUEENS              11432  2019

[118134 rows x 3 columns]

In [70]:
df["BOROUGH"].value_counts()

BOROUGH
BRONX            37367
BROOKLYN         33381
QUEENS           23530
MANHATTAN        19555
STATEN ISLAND     4301
Name: count, dtype: int64

In [72]:
df.groupby('BOROUGH').size().sort_values(ascending=False).head(1)

BOROUGH
BRONX    37367
dtype: int64

In [100]:
zip_counts = df["Eviction Postcode"].value_counts()
zip_counts

Eviction Postcode
10467    3236
10458    3037
10456    2795
10453    2776
10457    2600
         ...
11306       1
10424       1
10260       1
10000       1
10425       1
Name: count, Length: 260, dtype: int64

In [106]:
df["Eviction Postcode"].mode()

0    10467
Name: Eviction Postcode, dtype: int64

In [116]:
with open("../output/pdf_data.csv", "w", newline="") as f:
    clean_df.to_csv(f, index=False)